@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  transition: 0.2s;
}

/* Toggle switch */
body.dark {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

body.dark .social-links {
  color: #fff;
}

body.dark .links {
  color: #fff;
}

body.dark .footer-link {
  color: #fff;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  cursor: pointer;
  width: 2.4em;
  height: 1.19em;
  background-color: blue;
  display: flex;
  border-radius: 20em;
  align-items: center;
  justify-content: space-between;
  padding: 0.5;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 1em;
  height: 1em;
  background-color: white;
  position: absolute;
  top: 0.12em;
  left: 0.12em;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 15px -3px #000000;
  box-shadow: 5px 5px 15px -3px #000000;
  transition: transform 0.2s linear;
}

/*  target the element after the label*/
.checkbox:checked + .label .ball {
  transition: 0.5s;
  transform: translateX(1.2em);
}

/* Toggle switch */

/* Nav Bar Starts*/

.menu {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.nav-links a {
  color: #000;
  font-size: 1.5em;
}

.nav-links a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  height: 5em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em 0 6.25em;
  flex-wrap: wrap;
}

nav .logo {
  font-size: 4rem;
  font-weight: bold;
}

/* Nav Bar Ends */

/*  Banner section starts */

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-wrap: wrap;
}

/*  Animation */

.parallax-text {
  position: absolute;
  font-size: 15em;
  font-weight: bold;

}

.parallax-text::after {

  position: absolute;
  content: attr(text);
  z-index: 100;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.1vw black;
}

.anim-img {
  height: 20em;
  animation: animation 3s cubic-bezier(0.25, 1, 0.5, 1) forwards alternate;
}

@keyframes animation {

  0%,
  10% {
    transform: translate(100vw, 0);
  }

  90%,
  100% {
    transform: translate(-1vw, -3vw);
  }
}

/*  Banner section Ends */

/*  About sections */

.abt {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.about-wrapper {
  width: 70vw;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-wrapper h2 {
  font-size: 4rem;
}

.about-wrapper p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2em;
}

/*  Projects Section */

.prj {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
}

#projects-section {
  padding-top: 2em;
}

.prj-h2 {
  font-size: 3rem;
  /* padding-bottom: 1em; */
}

.container {
  width: 70vw;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

figure img {
  border: 0.01em solid;
  border: 0.1em solid #000;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*  Footer */
.footer-txt a:hover {
  text-decoration: underline;
}

.footer-link {
  color: #000;
}

footer {

  font-size: 1.3em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  Skills */

.tec {
  display: flex;
  align-items: center;
  gap: 0.1em;
}

.skills-h2 {
  font-size: 2.8rem;
  padding-block: 1em;
}

#technical-skills {
  width: 70vw;
  margin: 2rem auto;
}

.cards,
img {
  height: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 2fr));
  gap: 1.25em;
}

/* Contact me  */
.cnt {
  display: flex;
  align-items: center;
  gap: 0.1em;
}

.contact-h2 {
  font-size: 2.8rem;
  padding-block: 1em;
}

.contact-me {
  width: 70vw;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.social-links {
  color: #000;
  font-size: 1.5rem;
}

.items {
  flex-wrap: wrap;
  display: flex;
  gap: 2em;
}

.social-links:hover {

  text-decoration: underline;
}