// Responsive CSS
@media screen and (max-width: 48em) {
  .nav-items {
    li {
      font-size: 0.2rem;
      margin-block: 0.5rem;
    }
  }

  #banner {
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .name {
      font-size: 2rem;
    }
    .desc {
      font-size: 1rem;
    }
    .btn {
      height: 2rem;
      width: 5rem;
    }
  }
}
