@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-fluid {
  cursor: pointer;
  height: auto;
  max-width: 66%;
  border-radius: 18px;
  box-shadow: -2px 3px 25px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 3px 25px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 25px -4px rgba(0, 0, 0, 0.75);
}


:root {
  /* Background Color */
  --bg-black: #090b3c;
  --bg-white: #f5f6fa;

  --bg-light-white: #fcfcfc;
  --bg-light-2: #f2f7fa;
  --bg-dark-green: #0e9d80;
  --bg-features-1: #fff6d6;
  --bg-features-2: #ebdcf9;
  --bg-features-3: #ddf5fc;
  --bg-features-4: #dcf6e8;
  --bg-features-5: #f8e4e1;
  --bg-features-6: #fbffd4;

  /* Text Color */
  --text-black: #000;
  --text-white: #fff;
  --text-dark-gray: #4c535d;
  --text-light-2: #798089;
  --text-light-3: #5e5e72;
  --text-light-4: #a0a0a0;
  --text-dark-green: #12c4a0;
  --text-orange: #ff5d2a;
  --text-yellow: #ffc100;

  /* Fonts */
  --primary-font: Quicksand;
  --secondary-font: "Poppins", sans-serif;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--normal-font-weight);
  background-color: var(--bg-white);
}

/* Custom CSS */
.project-btn {
  background-color: var(--bg-black);
  font-size: 18px;
  font-weight: 700;
  color: var(--text-white) !important;
  padding: 12px 29px !important;
  border-radius: 10px;
  border: 2px solid var(--bg-black);
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  display: inline-block;
  text-decoration: none;
  transition: 0.7s;
}



/* 2 Navbar */
.header_wrapper .navbar {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #fff;
}

.header_wrapper .navbar-brand img {
  max-width: 40px;
  height: auto;
}

.header_wrapper .menu-navbar-nav {
  width: 70%;
  display: flex;
  justify-content: center;
}

.header_wrapper .nav-item {
  margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  color: var(--text-dark-gray);
  line-height: 1;
}

.header_wrapper .nav-item .nav-link.active {
  color: var(--text-dark-green);
}

.nav-item .nav-link {
  font-size: 17px;
}

/* 3 Banner */
.banner_wrapper {
  display: flex;
  width: 100%;
  padding: 100px 0 125px;
  height: 1000px;
  /* background: url(../images/bg.png) no-repeat; */
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.banner_wrapper {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  color: var(--text-light-3);
}

.banner_wrapper .banner-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 60px;
  text-transform: capitalize;
  line-height: 1.15;
  margin-bottom: 25px;
  color: var(--text-black);
}

.banner_wrapper .banner-title span {
  color: var(--text-dark-green);
}

.banner_wrapper .banner-title-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 450px;
  color: var(--text-light-2);
}

.banner_wrapper .project-btn-section {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}

.banner_wrapper .header-img-section img {
  border-radius: 10px;
  width: 100%;

}


.about_wrapper .about_number {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 24px;
  padding: 4px 17px;
  border-radius: 10px;
  margin-bottom: 25px;
  max-width: 44px;
  color: var(--text-white);
  background-color: var(--bg-dark-green);
}

.about_wrapper .about_title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 34px;
  line-height: 1.25;
  max-width: 1000px;
  margin-bottom: 25px;
  color: var(--text-black);
}

.about_wrapper .about_text {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.7;
  max-width: 700px;
  color: var(--text-light-2);
}

.about_wrapper .innovate {
  background: var(---bg-white);
  padding: 80px 0;
}

.about_wrapper .projects {
  padding: 30px 0;
}

.about_wrapper .projects h2 {
  color: var(--text-dark-green);
  font-family: Poppins;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 0;
}

.about_wrapper .projects p {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-light-2);
}



/* 9 Brands */
.brand_wrapper {
  padding: 50px 0;
  background: var(--bg-light-2);
}

.brand_wrapper {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-light-3);
}

.brand_wrapper {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 25px;
  color: var(--text-black);
}

.brand_title_next {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 34px;
}

.brand_wrapper .showcase_card img {
  width: 100%;

  border-radius: 15px;
  padding: 45px 25px;
  background-color: var(--bg-white);
  box-shadow: 0 5px 40px rgb(0 0 0 / 8%);
  transition: 0.7s;
}

.brand_wrapper .showcase_card img:hover {
  transform: scale(1.2);
  position: relative;
  z-index: 2;
}

/* 11 Footer */
.footer_wrapper {
  padding-top: 100px;
  padding-bottom: 25px;
  background-size: cover;
  background-color: var(--bg-black);
  color: var(--text-white);
}

/* Responsive design */

@media (max-width: 1300px) {

  /* 2 Navbar */
  .header_wrapper .menu-navbar-nav {
    width: auto;
  }
}

@media (max-width: 1230px) {

  /* 2 Navbar */
  .header_wrapper .nav-item {
    margin: 0 5px;
  }

  .header_wrapper .project-btn {
    padding: 12px 10px !important;
  }

  /* 3 Banner */
  .banner_wrapper .banner-title {
    font-size: 40px;
  }
}

@media (max-width: 1070px) {

  /* 2 Navbar */
  .header_wrapper .nav-item .nav-link {
    font-size: 16px;
  }

  /* 5 About */
  .about_wrapper .about_title {
    font-size: 25px;
  }
}

@media (max-width: 991px) {

  /* 2 Navbar */
  .header_wrapper .navbar-brand img {
    width: 180px;
  }

  .header_wrapper .navbar-toggler:focus {
    box-shadow: none;
  }

  .header_wrapper .menu-navbar-nav {
    text-align: center;
  }

  .header_wrapper .nav-item .nav-link {
    margin-top: 15px;
    font-size: 18px;
  }

  .header_wrapper .nav-item:last-child .nav-link {
    margin-bottom: 20px;
  }

  .header_wrapper .project-btn {
    padding: 12px 29px !important;
  }

  .header_wrapper .navbar-collapse {
    background: var(--bg-white);
  }

  /* 3 Banner */
  .banner_wrapper .banner-title {
    font-size: 36px;
  }

  /* 5 About */
  .about_wrapper .about_number {
    margin: 20px auto;
  }

  .about_wrapper .about_title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {

  /* 3 Banner */
  .banner_wrapper {
    padding: 100px 0 100px;

  }

  .img-fluid {
    margin: 65px;
  }

  .banner_wrapper .row {
    flex-direction: column-reverse;
  }

  .banner_wrapper .project-btn-section {
    justify-content: center;
  }

}

/*  Timeline code */

.timeline {

  width: 800px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 30px 20px;

}

.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
}

.timeline ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: .5s;
}

.timeline ul li span {
  font-family: var(--secondary-font);
  display: inline-block;
  background-color: #72b235;
  color: black;
  border-radius: 15px;
  padding: 2px 22px;
  font-size: 19px;
  text-align: center;
}

.timeline ul li .content-timeline h3 {
  font-family: var(--secondary-font);
  color: #00a8f0;
  font-size: 25px;
  padding-top: 5px;
}

.timeline ul li .content-timeline p {
  font-family: var(--secondary-font);
  padding: 5px 0px 15px 0px;
  font-size: 20px;
}

.timeline ul li:before {
  position: absolute;
  content: '🚀';
  width: 10px;
  height: 10px;
  left: -11px;
  transition: .5s;
}

.timeline-h2 {
  font-weight: bold;
}

.timeline ul li:hover {
  background-color: #071f2a;
  color: white;
}

.timeline ul li:hover:before {
  content: '👀';
  /* background-color: #0F0; */
  /* box-shadow: 0px 0px 10px 2px #0F0; */
}


/*  For Responsive Design */

@media (max-width:300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }

  .timeline ul li .content-timeline h3 {
    color: #34ace0;
    font-size: 15px;
  }

}